{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;margin:50px">Web Traffic Monitor</h1>
<!-- <div style="margin:50px auto"> -->
<div style="display: flex; justify-content: center; ">
<form action="/monitor/" method="post">
<button type="submit" class="btn btn-outline-warning btn-lg" id="start" >Start Monitoring</button>
</form>
</div>

<div style="display: flex; justify-content: center; align-content: center; " >
<canvas  id="myChart" style="display:block margin: 50px auto; max-width: 800px"></canvas>
</div>
<script>
var hosts={{hosts| safe}};
var noOfhost=hosts.length;
var bgcolors=[];
for(i=0;i<noOfhost;i++){
    fraction=255/(noOfhost+2);
    r=Math.round(255-fraction/1.5);
    g=Math.round(fraction*(i+2));
    b=Math.round(255-fraction*(i+2));
    hostcolor="rgb("+r+","+g+","+b+")";
    bgcolors[i]=hostcolor;
}
var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
    	label:"Traffic Summary",
        data: {{counters | safe }},
        backgroundColor:bgcolors

    }],

    labels:{{hosts | safe}}
 
}
});

$(document).ready( 
    function () {


$("#myChart").click( 
        function(evt){
        	
            var activePoints = myChart.getElementsAtEvent(evt);
            if(activePoints.length > 0)
    {

      //get the internal index of slice in pie chart
      var clickedElementindex = activePoints[0]["_index"];

      //get specific label by index 
      var label = myChart.data.labels[clickedElementindex];

      //get value by index      
      var value = myChart.data.datasets[0].data[clickedElementindex];
      var url = "http://127.0.0.1:5000/host?hostsIndex=" + (clickedElementindex);
      window.location.replace(url);

   }
    

                        }
                    ); 


                }
            );


</script>
{% endblock %}
