<!DOCTYPE html>
<html>
<head>
	<title>Web Traffic Monitor</title>
{% include 'snippets/css.html' %}
{% include 'snippets/js.html' %}
</head>
<body>
<h1 style="text-align: center;margin:50px">Web Traffic Monitor</h1>
<!-- <div style="margin:50px auto"> -->
<div style="display: flex; justify-content: center; ">
<button type="button" class="btn btn-outline-warning btn-lg">Start Monitoring</button>
</div>
<div style="display: flex; justify-content: center; align-content: center; ">
<canvas id="myChart"  style="display: block; margin: 50px auto; max-width: 800px"></canvas>
</div>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
    datasets: [{
    	label:"Traffic Summary",
        data: [10, 20, 30],
        backgroundColor:[
    "rgb(255, 99, 132)",
    "rgb(54, 162, 235)",
    "rgb(255, 205, 86)"
    ]

    }],

    labels: [
        'Red',
        'Yellow',
        'Blue'
    ]
    
}
});
</script>


</body>
</html>