<!DOCTYPE html>
<html>
<head>
	<title>Web Traffic Monitor</title>
{% include 'snippets/css.html' %}
{% include 'snippets/js.html' %}
</head>
<body>
<h1 style="text-align: center;margin:50px">Web Traffic Monitor</h1>
<!-- <div style="margin:50px auto"> -->
<div style="display: flex; justify-content: center; ">
<button type="button" class="btn btn-outline-warning btn-lg">Start Monitoring</button>
</div>
<div style="display: flex; justify-content: center; align-content: center; ">
<canvas id="myChart"  style="display: block; margin: 50px auto; max-width: 800px"></canvas>
</div>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
    	label:"Traffic Summary",
        data: [10, 20, 30],
        backgroundColor:[
    "rgb(255, 99, 132)",
    "rgb(54, 162, 235)",
    "rgb(255, 205, 86)"
    ]

    }],

    labels: [
        'Red',
        'Yellow',
        'Blue'
    ]
 
}
});
$(document).ready( 
    function () {
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
    	label:"Traffic Summary",
        data: [10, 20, 30],
        backgroundColor:[
    "rgb(255, 99, 132)",
    "rgb(54, 162, 235)",
    "rgb(255, 205, 86)"
    ]

    }],

    labels: [
        'host1',
        'host2',
        'host3'
    ]
 
}
});

$("#myChart").click( 
        function(evt){
        	
            var activePoints = myChart.getElementsAtEvent(evt);
            if(activePoints.length > 0)
    {

      //get the internal index of slice in pie chart
      var clickedElementindex = activePoints[0]["_index"];

      //get specific label by index 
      var label = myChart.data.labels[clickedElementindex];

      //get value by index      
      var value = myChart.data.datasets[0].data[clickedElementindex];
      var url = "http://127.0.0.1:8000/webtraffic/" + label;
      window.location.replace(url);

   }
    

                        }
                    );                  
                }
            );
</script>


</body>
</html>