{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;margin:50px">Web Traffic Monitor</h1>
<!-- <div style="margin:50px auto"> -->
<div style="display: flex; justify-content: center; ">
<button type="button" class="btn btn-outline-warning btn-lg" id="start" onclick="unhide()" >Start Monitoring</button>
</div>
<div id="loader" class="hidden" ></div>
<div style="display: flex; justify-content: center; align-content: center; " >
<canvas  id="myChart" style=" margin: 50px auto; max-width: 800px"></canvas>
</div>
<script>

var noOfhost={{ hosts }}.length;
var hostlabels=[];
for(i=0;i<noOfhost;i++){
    hostname="host"+i;
    hostlabels[i]=hostname;
}
var bgcolors=[];
for(i=0;i<noOfhost;i++){
    fraction=255/(noOfhost+2);
    r=Math.round(255-fraction/1.5);
    g=Math.round(fraction*(i+2));
    b=Math.round(255-fraction*(i+2));
    hostcolor="rgb("+r+","+g+","+b+")";
    bgcolors[i]=hostcolor;
}

var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    datasets: [{
    	label:"Traffic Summary",
        data: {{ hosts }} ,
        backgroundColor:bgcolors

    }],

    labels: hostlabels
 
}
});
myChartElement=document.getElementById("myChart");
myChartElement.style.display="none";
var loader= document.getElementById("loader");
function unhide() {
    if(loader.className=='hidden'){
        loader.className = 'unhidden';
        //load for 10s
        var countdown=setTimeout(showResult,10000);
    }
}

function showResult() {
  loader.className = "hidden";
  myChartElement.style.display = "block";
}

$(document).ready( 
    function () {


$("#myChart").click( 
        function(evt){
        	
            var activePoints = myChart.getElementsAtEvent(evt);
            if(activePoints.length > 0)
    {

      //get the internal index of slice in pie chart
      var clickedElementindex = activePoints[0]["_index"];

      //get specific label by index 
      var label = myChart.data.labels[clickedElementindex];

      //get value by index      
      var value = myChart.data.datasets[0].data[clickedElementindex];
      var url = "http://127.0.0.1:8080/webtraffic/" + label+"/";
      window.location.replace(url);

   }
    

                        }
                    ); 


                }
            );
</script>
{% endblock %}

</body>
</html>